<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>Login Page</title>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row" style="height: 100vh;">
      <div class="col-md-7 col-xl-9 col-12" id="wallpaper"></div>
      <div class="col-md-5 col-xl-3 col-12" id="formpage">
        <div class="row" style="height: 20vh;"></div>
        <div class="row">
          <div class="alert alert-danger alert-dismissible fade show" th:if="${loginFailed}" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span>您輸入的帳號或密碼錯誤，請重新輸入</span>
          </div>
          <div class="alert alert-success alert-dismissible fade show" th:if="${changeSuccess}" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <span>密碼修改成功! 請使用新密碼重新登入</span>
          </div>
          <h2>Login</h2>
          <form action="/login" th:object="${account}" method="post">
            <div class="mb-3">
              <label for="login-acc" class="form-label">UserAccount</label>
              <input type="text" class="form-control"  name="username" id="login-acc">
            </div>
            <div class="mb-3">
              <label for="login-pwd" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="login-pwd">
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
          <div class="d-flex justify-content-end" style="margin-top: 10px;">
            <a href="#" th:href="@{/register}" style="text-decoration: none;">_Sign Up_</a>
          </div>

        </div>
      </div>


    </div>
  </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>