<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title>清單</title>
</head>
<body>
<main class="flex-shrink-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
      <a class="navbar-brand" href="/home">Booking Hotel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:if="${userdata == null}" href="/login">登入</a>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:if="${userdata != null}" th:text="${userdata.username}" id="usersettings">Username</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="usersettings">
              <li><a class="dropdown-item" href="/user/updateUserData">修改會員資料</a></li>
              <li><a class="dropdown-item" href="/user/changePSW">修改密碼</a></li>
              <li><a class="dropdown-item" href="blog-post.html">訂單查詢</a></li>
            </ul>
          </li>
          <li class="nav-item" th:if="${userdata != null}"><a class="nav-link" href="/logout">登出</a></li>
          <li class="nav-item" th:if="${userdata != null && userdata.username == 'admin8956'}"><a class="nav-link" href="/itemlist">商品管理</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section class="py-2">
    <div class="container" style="background-color: white;">
      <div class="row">
        <div class="row py-3">
        <table class="table table-secondary table-striped py-5">
          <thead>
          <tr>
            <th>#</th>
            <th>商品名稱</th>
            <th>checkin時間</th>
            <th>checkout時間</th>
            <th>單人間數</th>
            <th>雙人間數</th>
            <th>四人間數</th>
            <th>下單時間</th>
            <th>總價格</th>
            <th>訂單狀態</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="orders, iterStat:${page.content}">
            <td th:text="${iterStat.count}">1</td>
            <td th:text="${orders.hotel_name}">商品名稱</td>
            <td th:text="${#temporals.format(orders.checkin_time, 'yyyy-MM-dd HH:mm')}">checkin時間</td>
            <td th:text="${#temporals.format(orders.checkout_time, 'yyyy-MM-dd HH:mm')}">checkout時間</td>
            <td th:text="${orders.singleroom}">單人間數</td>
            <td th:text="${orders.doubleroom}">雙人間數</td>
            <td th:text="${orders.quadroom}">四人間數</td>
            <td th:text="${#temporals.format(orders.createtime, 'yyyy-MM-dd HH:mm')}">下單時間</td>
            <td th:text="${orders.totalprice}">總價格</td>
            <td th:switch="${orders.status}">
              <span th:case="0">已成立</span>
              <span th:case="1">已完成</span>
            </td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link" href="#" th:href="@{'/orderlist?page=' + ${page.number - 1}}" th:unless="${page.first}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" th:href="@{'/orderlist?page=' + ${page.number + 1}}" th:unless="${page.last}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

</main>
<script type="text/javascript" th:src="@{/js/homepage/orderidsearch.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
</html>